Pillow==8.3.2
aiohttp==4.0.0a1
aiosqlite==0.17.0
asyncio==3.4.3
blosc==1.10.2
fastapi==0.65.2
gunicorn==20.0.4
jax==0.2.13
jaxlib==0.1.65
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
pandas==1.2.4
python-dateutil==2.8.1
scikit-learn==0.24.2
uvicorn==0.13.0